.coffee__iconoCart {
    color: white;
    cursor: pointer;
    position: relative;
    }

    .coffee__widget {
        position: absolute;
        padding: .2rem .3rem;
        border-radius: .5rem;
        left: 30px;
        
    }


@media (max-width: 992px) {
    .coffee__iconoCart {
        position: absolute;
        top: 15px;
        
        padding: 0 !important;
        color: white;
    }

    
}

@media (max-width: 660px) {
    .coffee__iconoCart {
        position: absolute;
        top: 28px;
        
        padding: 0 !important;
        color: white;
    }

    
}
