.coffee__Navbar div{
    background-color: orange;
    
    
}

.container-fluid {
    position: relative;
}

@media (max-width: 992px) {
    .coffee__Navbar--toggler{
        position: absolute;
        left: 90%;
        top: 3px;
        
    }
}

@media (max-width: 647px) {
    .coffee__Navbar--toggler{
        position: absolute;
        left: 82%;
        top: 3px;
        
    }
}


    

.coffee__Navbar {
    padding: 0;

        &--a:hover {
        background-color: rgb(63, 63, 63) !important;
        
    }
    

    &--a {
        color: white !important;
        padding: auto 3rem ;
        margin: 0; 
        
    }

    &--a2 {
        color: white !important;
        padding: 0;
        margin: 0;
        
    }
}







