.coffee__Navbar div{
    background-color: orange;
    
    
}



.coffee__Navbar {
    padding: 0;
}

.coffee__Navbar--a {
    color: white !important;
}

.coffee__Navbar--li4 {
    max-width: 1600px;
}


