.coffee__Navbar div{
    background-color: orange;
    
    
}

.coffee__Navbar--container {
    position: relative;
    padding: .2rem .2rem;
}

@media (max-width: 992px) {
    .coffee__Navbar--toggler{
        position: absolute;
        left: 90%;
        top: 15px;
        
    }


    .coffee__Navbar--container {
        position: relative;
        padding: .1rem .1rem !important;
    }
}

@media (max-width: 647px) {
    .coffee__Navbar--toggler{
        position: absolute;
        left: 82%;
        top: 30px;
        
        
    }

    .coffee__Navbar--container {
        position: relative;
        padding: .1rem .1rem !important;
        
    }
}


    

.coffee__Navbar {
    padding: 0;
    

        &--a:hover {
        border-radius: 1rem !important;        
        background-color: rgb(255, 217, 0) !important;
    }
    

    &--a {
        transition: 1s !important;
        
        margin: 0; 
        
    }

    &--a2 {
        color: white !important;
        padding: 0;
        margin: 0;
        
    }
    
}







