@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  font-family: 'Inconsolata', monospace;
  
}


.App {
  text-align: center;


  height: 80vh;
  max-height: 100vh;
  

  &-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  &-link {
    color: #61dafb;
  }

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
